{% extends '_base.html' %} 
{% load static %}  
{% block content %}

<main class="px-16 py-6 md:col-span-2 bg-gray-100">
  <div class="m-2">
    <h4 class="text-3xl font-semibold text-secondary-100">Videos</h4>

    <div class="mt-8 grid lg:grid-cols-3 gap-10">
      <!-- Video cards go here -->
      <div class="card">
        <a href="{% url 'scanline' %}">
          <img
            class="hover:object-scale-down h-32 sm:h-48 w-full object-cover"
            src="{% static 'images/frame193.jpg' %}"
            alt=""
          />
          <div class="m-4">
            <span class="block text-gray-500 text-sm">Video file name</span>
          </div>
          <div class="badge">
            <span>25 mins</span>
          </div>
        </a>
      </div>
      <!-- Video cards go here -->
      <div class="card">
        <a href="{% url 'scanline' %}">
          <img
            class="hover:object-scale-down h-32 sm:h-48 w-full object-cover"
            src="{% static 'images/frame193.jpg' %}"
            alt=""
          />
          <div class="m-4">
            <span class="block text-gray-500 text-sm">Video file name</span>
          </div>
          <div class="badge">
            <span>25 mins</span>
          </div>
        </a>
      </div>
      <!-- Video cards go here -->
      <div class="card">
        <a href="{% url 'scanline' %}">
          <img
            class="hover:object-scale-down h-32 sm:h-48 w-full object-cover"
            src="{% static 'images/frame193.jpg' %}"
            alt=""
          />
          <div class="m-4">
            <span class="block text-gray-500 text-sm">Video file name</span>
          </div>
          <div class="badge">
            <span>25 mins</span>
          </div>
        </a>
      </div>
      <!-- Video cards go here -->
      <div class="card">
        <a href="{% url 'scanline' %}">
          <img
            class="hover:object-scale-down h-32 sm:h-48 w-full object-cover"
            src="{% static 'images/frame193.jpg' %}"
            alt=""
          />
          <div class="m-4">
            <span class="block text-gray-500 text-sm">Video file name</span>
          </div>
          <div class="badge">
            <span>25 mins</span>
          </div>
        </a>
      </div>
      <!-- Video cards go here -->
      <div class="card">
        <a href="{% url 'scanline' %}">
          <img
            class="hover:object-scale-down h-32 sm:h-48 w-full object-cover"
            src="{% static 'images/frame193.jpg' %}"
            alt=""
          />
          <div class="m-4">
            <span class="block text-gray-500 text-sm">Video file name</span>
          </div>
          <div class="badge">
            <span>25 mins</span>
          </div>
        </a>
      </div>
      <!-- Video cards go here -->
      <div class="card">
        <a href="{% url 'scanline' %}">
          <img
            class="hover:object-scale-down h-32 sm:h-48 w-full object-cover"
            src="{% static 'images/frame193.jpg' %}"
            alt=""
          />
          <div class="m-4">
            <span class="block text-gray-500 text-sm">Video file name</span>
          </div>
          <div class="badge">
            <span>25 mins</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
